<!DOCTYPE html>
<html ng-app="Groominati">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Groominati Proto" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Groominati Proto" %>">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container" class="container">
  <header>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>
  </header>
  <div id="main" role="main">
    <%= yield %>
  </div>
  <!--
 <div ng-view> <!-- this is the view for the post list -->
  <!--</div>

  <div ng-controller="HomeCtrl">         <!-- this div contains a form for uploaing posts -->
  <!--
    <ul>
      <li ng-repeat="post in posts">
        {{post.id}}, {{post.content}}, {{post.asset}}
      </li>
    </ul>
    <form ng-submit="newPost()" >
      <label for="post_content">Content</label>
      <input id="post_content" type="text" ng-model="post.content">
      <button type="submit">Create</button>
      <input type="file" ng-file-select="onFileSelect($files)">
    </form>
  </div>     -->

  <div ng-controller="PostCtrl">         <!-- this div contains a form for uploaing posts -->
    <div id="isotopeContainer" isotope-container iso-options-subscribe="my-iso-opts" iso-method-subscribe="my-iso-method" iso-options="{layoutMode:'masonry', animationEngine : 'jquery'}">
      <div ng-repeat="post in posts" isotope-item>
        <img src="{{post.asset}}" width="100" height="100">
      </div>
    </div>
    <form ng-submit="newPost()" >
      <label for="post_content">Content</label>
      <textarea id="post_content" rows="4" cols="50" ng-model="post.content"></textarea>
      <button type="submit">Create</button>
      <input type="file" ng-file-select="onFileSelect($files)">
    </form>
  </div>


  <footer>
  </footer>
</div>
<!--! end of #container -->
</body>
</html>
